.row {
    margin-right: 15px;
    margin-left: 15px;
}
.spacer {
    width: 100%;
    height: 0;
    border-bottom: 0 transparent;
    margin: 10vh 0;
}
/* SHORTHAND: Margin 
----------------------------------------*/
.m-0 {margin: 0 !important;}
.m-1 {margin: .25em !important;}
.m-2 {margin: .50em !important;}
.m-3 {margin: 1em !important;}
.m-4 {margin: 1.5em !important;}
.m-5 {margin: 2em !important;}
.m-auto {margin: auto !important;}

/* SHORTHAND: Negative Margin 
----------------------------------------*/
.m-n1 {margin: -0.25em !important;}
.m-n2 {margin: -0.50em !important;}
.m-n3 {margin: -1em !important;}
.m-n4 {margin: -1.5em !important;}
.m-n5 {margin: -2em !important;}
/* SHORTHAND: Margin Top 
----------------------------------------*/
.mt-n0 {margin-top: 0 !important;}
.mt-n1 {margin-top: -.25em !important;}
.mt-n2 {margin-top: -.50em !important;}
.mt-n3 {margin-top: -1em !important;}
.mt-n4 {margin-top: -1.5em !important;}
.mt-n5 {margin-top: -2em !important;}

/* SHORTHAND: Margin Top 
----------------------------------------*/
.mt-0 {margin-top: 0 !important;}
.mt-1 {margin-top: .25em !important;}
.mt-2 {margin-top: .50em !important;}
.mt-3 {margin-top: 1em !important;}
.mt-4 {margin-top: 1.5em !important;}
.mt-5 {margin-top: 2em !important;}

/* SHORTHAND: Margin Right 
----------------------------------------*/
.mr-0 {margin-right: 0 !important;}
.mr-1 {margin-right: .25em !important;}
.mr-2 {margin-right: .50em !important;}
.mr-3 {margin-right: 1em !important;}
.mr-4 {margin-right: 1.5em !important;}
.mr-5 {margin-right: 2em !important;}

/* SHORTHAND: Margin Bottom 
----------------------------------------*/
.mb-0 {margin-bottom: 0 !important;}
.mb-1 {margin-bottom: .25em !important;}
.mb-2 {margin-bottom: .50em !important;}
.mb-3 {margin-bottom: 1em !important;}
.mb-4 {margin-bottom: 1.5em !important;}
.mb-5 {margin-bottom: 3em !important;}

/* SHORTHAND: Margin Left 
----------------------------------------*/
.ml-0 {margin-left: 0 !important;}
.ml-1 {margin-left: .25em !important;}
.ml-2 {margin-left: .50em !important;}
.ml-3 {margin-left: 1em !important;}
.ml-4 {margin-left: 1.5em !important;}
.ml-5 {margin-left: 3em !important;}

/* SHORTHAND: Padding 
----------------------------------------*/
.p-0 {padding: 0 !important;}
.p-1 {padding: .25em !important;}
.p-2 {padding: .50em !important;}
.p-3 {padding: 1em !important;}
.p-4 {padding: 1.5em !important;}
.p-5 {padding: 3em !important;}

/* SHORTHAND: Padding (Negative) 
----------------------------------------*/
.p-auto {padding: auto !important;}
.p-n1 {padding: -0.25em !important;}
.p-n2 {padding: -0.50em !important;}
.p-n3 {padding: -1em !important;}
.p-n4 {padding: -1.5em !important;}
.p-n5 {padding: -3em !important;}

/* SHORTHAND: Padding Top 
----------------------------------------*/
.pt-0 {padding-top: 0 !important;}
.pt-1 {padding-top: .25em !important;}
.pt-2 {padding-top: .5em !important;}
.pt-3 {padding-top: 1em !important;}
.pt-4 {padding-top: 1.5em !important;}
.pt-5 {padding-top: 3em !important;}

/* SHORTHAND: Padding Right 
----------------------------------------*/
.py-0,.pr-0 {padding-right: 0 !important;}
.py-1,.pr-1 {padding-right: .25em !important;}
.py-2,.pr-2 {padding-right: .5em !important;}
.py-3,.pr-3 {padding-right: 1em !important;}
.py-4,.pr-4 {padding-right: 1.5em !important;}
.py-5,.pr-5 {padding-right: 3em !important;}

/* SHORTHAND: Padding Bottom 
----------------------------------------*/
.pb-0 {padding-bottom: 0 !important;}
.pb-1 {padding-bottom: .25em !important;}
.pb-2 {padding-bottom: .5em !important;}
.pb-3 {padding-bottom: 1em !important;}
.pb-4 {padding-bottom: 1.5em !important;}
.pb-5 {padding-bottom: 3em !important;}

/* SHORTHAND: Padding Left 
----------------------------------------*/
.py-0,.pl-0 {padding-left: 0 !important;}
.py-1,.pl-1 {padding-left: .25em !important;}
.py-2,.pl-2 {padding-left: .5em !important;}
.py-3,.pl-3 {padding-left: 1em !important;}
.py-4,.pl-4 {padding-left: 1.5em !important;}
.py-5,.pl-5 {padding-left: 3em !important;}



/* mouse over link */
a:hover {
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    text-decoration: none;
  }
body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
#data {
    visibility: hidden;
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
}
.bgwidth {
    width: 100%;
}
.bgheight {
    height: 100%;
}
.gradmdWidth {
    width: 30%;
}
.grad-md {
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    overflow: auto;
    flex:1 1 auto;
    opacity: initial;
    display: block;
    cursor: inherit;
    border-width: 0;
    background-color: #fff;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 0%);
    box-shadow: none;
    z-index: 5;
}
.grad-xs {
    position: fixed;
    top: 10%;
    width: 100%;
    opacity: 1;
    display: block;
    cursor: inherit;
    border-width: 2px;
    border-color: rgb(254, 253, 253);
    border-style: solid;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    z-index: 999;
}
.caption-md {
    position: absolute;
    top: 10%;
    float: right;
    right: 15%;
    width: 70%;
    z-index: 5;
}
.caption-xs {
    z-index: 5;
}
.pulse-button {
    display: block;
    width: 70%;
    height: auto;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 110px;
    color: white;
    border-style: double;
    background: #8b6f4c;
    cursor: pointer;
    -webkit-animation: pulse 2.5s infinite;
    -moz-animation: pulse 2.5s infinite;
    -o-animation: pulse 2.5s infinite;
    -ms-animation: pulse 2.5s infinite;
    animation: pulse 2.5s infinite;
}
@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@-o-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@-ms-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@-webkit-keyframes rightFadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes rightFadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes leftFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes leftFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
p {
    margin: 0 0 0;
}
.space-top {
    margin-top: 60px;
}
.space-top-minus-1 {
    margin-top: -20px;
}
.space-top-minus-2 {
    margin-top: -12px;
}
.first-textS {
    opacity: 1;
    font-weight: 900;
    animation-name: leftFadeIn;
    animation-duration: 5s;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.first-text {
    opacity: 1;
    animation-name: rightFadeIn;
    animation-duration: 5s;
}
.first-text h1 {
    font-weight: 700;
}
.second-text { opacity: 0;font-family: "Open Sans", sans-serif;}
.second-textS {
    opacity: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.third-text {
    opacity: 0;
}
.bld {
    font-weight: 900;
}
@keyframes fade-in-item {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-webkit-keyframes fade-in-item {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
.item.i01 {
    animation: fade-in-item 3s 3s ease-out forwards;
}
.item.i02 {
    animation: fade-in-item 3.5s 4.5s ease-out forwards;
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading-mask {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}





@media only screen and (min-width: 1991px) {
    .space-top-minus-1 {
        margin-top: 10px;
    }

}
@media only screen and (max-width: 1599px) {
    .spacer {margin: 8vh 0;}

}
@media only screen and (max-width: 1550px) {
    .pulse-button {
        font-size: 2.5em;
        line-height: 77px;
    }
}
@media only screen and (max-width: 1440px) {
    .pulse-button {

        font-size: 2.5em;
        line-height: 77px;
    }

    .space-top-minus-1 {
        margin-top: -40px;
    }
}
@media only screen and (max-width: 1420px) {
    .space-top-minus-1 {
        margin-top: -20px;
    }


}
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1199px) {
    .spacer {margin: 5vh 0;}
}
@media only screen and (max-width: 1080px) {

    .space-top-minus {
        margin-top: 0;
    }
    .pulse-button {

        font-size: 2.5em;
        text-align: center;
        line-height: 77px;
    }
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 920px) {
    .caption-xs img {
        width: 150px;
        height: 90px;
    }
    .pulse-button {

        font-size: 2em;
        text-align: center;
        line-height: 40px;
    }
}
@media only screen and (max-device-width: 800px) {

}
@media screen and ( max-height: 640px ) {
    .spacer {
        margin: 20px 0;
    }
}
@media only screen and (max-width: 768px) {

    .caption-xs img {
        width: 150px;
        height: 90px;
    }

    .pulse-button {

        font-size: 2em;
        text-align: center;
        line-height: 55px;
    }
    .second-text p {
        font-size: 20px;
    }
}
@media only screen and (max-device-width: 768px) {
    .spacer {
        margin: 30px 0;
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
    }

    .pulse-button {
        font-size: 2em;
        text-align: center;
        line-height: 55px;
    }
    .second-text p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .pulse-button {
        width:50%;
        font-size: 2.5em;
        text-align: center;
        line-height: 60px;
    }
}
@media only screen and (max-width: 750px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 600px;
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
    }


}
@media only screen and (max-device-width: 720px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 600px;
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
    }
    .pulse-button {

        font-size: 2.5em;
        text-align: center;
        line-height: 60px;
    }

}
@media only screen and (max-device-width: 703px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 600px;
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
    }
    .pulse-button {

        font-size: 2.5em;
        text-align: center;
        line-height: 60px;
    }
}
@media only screen and (min-device-width: 640px) {
    #kitchn {
        margin-top: 0;
    }
}
@media only screen and (max-device-width: 640px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 500px;
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
        margin-top: 10%;
    }
    .pulse-button {

        font-size: 2em;
        text-align: center;
        line-height: 46px;
    }
}
@media only screen and (max-device-width: 600px) {


}
@media only screen and (max-device-width: 480px) {
    .spacer {
        margin: 15px 0;
    }
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 410px;
    }
    .caption-xs img {
        width: 100px;
        height: 60px;
    }
    .pulse-button {
        font-size: 16px;
        text-align: center;
        line-height: 30px;
    }
}
@media only screen and (max-device-width: 414px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 350px;
    }
    .caption-xs img {
        width: 90px;
        height: 50px;
    }

}
@media only screen and (max-device-width: 412px) {

}
@media only screen and (max-device-width: 384px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 300px;
    }
    .caption-xs img {
        width: 80px;
        height: 45px;
    }

}
@media only screen and (max-device-width: 375px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 300px;
    }
    .caption-xs img {
        width: 80px;
        height: 45px;
    }

}
@media only screen and (max-device-width: 360px) {
}
@media only screen and (max-device-width: 320px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 300px;
    }
    .caption-xs img {
        width: 80px;
        height: 45px;
    }

    .space-top-minus-2 {
        margin-top: -8px;
    }
}
