body {
  background: #fff;
  text-align: center;
}
#data{visibility: hidden;}

.modal-header{
background:#ccd8e0;}

a small{
text-decoration: none!important;
color:#000;
font-size:0.5em;
font-weight:bold;
}
.bottom-left {
    position: absolute;
    bottom:0;
	color:#fff;
	left:20px;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	width: 90%;
}

ul.social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}
ul.social-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* Font Awesome icons */
a.sociali {
  font-size: 4em;
  line-height: 1.2em;
  padding: 10px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
}

.loader {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index:999;
	background:#fff;
}
.loader  h1{margin-top:20%;	
	background:#fff;}
.loader img{
	-webkit-animation: rotation 1s linear 1.5;
    -moz-animation:rotation 1s linear 1.5;
    -o-animation:rotation 1s linear 1.5;
    -ms-transition:rotation 1s linear 1.5;
    animation:rotation 1s linear 1.5;
	
	}

@-webkit-keyframes rotation {
		from {
	transform: rotate(0deg);
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);  
	-ms-transform:rotate(0deg);
		}
		to {
	transform: rotate(359deg);
	-moz-transform:rotate(359deg);
	-webkit-transform:rotate(359deg);
	-o-transform:rotate(359deg);  
	-ms-transform:rotate(359deg);
	
}
}

figcaption{font-size:20px;}

.container{
	text-align: center;

}
.carousel-indicators {
    position: absolute;
    bottom: auto;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    background-color: #000;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	  margin-top:1%;
	  margin-left:10%;
	  width:40%;
	  height:30%;
  }

#myCarousel{
	margin: 0 auto;
}

#thumbCarousel{
	margin-left:10%;
	overflow: hidden;
	padding: 10px 0;
}

#thumbCarousel img{
	width:220px;
	height:150px;}

#thumbCarousel .thumb{
	float: left;
	margin-right: 10px;
}

#thumbCarousel .thumb:last-child{

	margin-right: 0;
}

.thumb:hover{
	cursor: pointer;
}

.mar-p{margin: 0 0 0px;}

.thumb.active img{
	opacity: 1;
}
.mov{margin-top:0.5%;margin-left:9%;text-align:left;}
.item h2{
font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif;
	font-size:28px;
	font-weight:300;
	font-style:normal;
	}
.item h1{
	font-family: "Helvetica Neue Regular",Helvetica,Arial,sans-serif;
	font-size:40px;
	font-style:italic;
	margin-top: -12px;
	font-weight:300;
	line-height:40px;
	}
.item p{
	font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif;
	font-size:24px;
	font-style:italic;
	font-weight:300;
	line-height:40px;
		}
.item a:hover{
text-decoration: none!important;
cursor: pointer;
}
.item h4{
	font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif;
	font-size:40px;
	font-weight:300;
	font-style:normal;
	line-height:40px;
	}
.space-top{margin-top:20px;}

.jumbotron{background-color:#fff!important;}
.jumbotron h2{
	font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif;
	display: inline-block;
    width:100%;
	height:100%;
    border: 3px solid #000;
    text-align: center;
	padding:5%;
	font-size:20px;
	font-style:normal;
	font-weight:300;
	}
.jumbotron a{
text-decoration: none!important;
cursor: pointer;
color:#000;
}

.ord{background:#fff;color:#000}
.ord:hover{background:#000;color:#fff}



.middle {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  top:50%;
    margin-left:110px;
	font-weight:bold;
}


.thumb:hover .middle {
  opacity: 1;
}


.wht{color:#fff;}
.bg-clr{background-color:#fff;}

.carousel-control span.glyphicon {
	font-size:5vw;
}

.left{height:50%;color:#000!important;background:none!important;}
.right{height:50%;color:#000!important;background:none!important; width:5%;}
.glyphicon-menu-left, .glyphicon-menu-right{top:50%;}



@-webkit-keyframes fadeInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInTop{
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.image {
	opacity: 0;
	-webkit-animation: fadeInTop .5s ease-in-out 0s forwards;
	animation: fadeInTop .5s ease-in-out 0s forwards;
}
.image,.first {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@keyframes fade-in-item {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-item {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.hid {
	opacity: 0;
	-webkit-animation: fade-in-item .5s ease-in-out 0s forwards;
	animation: fade-in-item .5s ease-in-out 0s forwards;
}

.hid.i01 {
   animation: fade-in-item 1s 1s ease-out forwards;
}
.des-tip:before {
 background: none;
  border: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left:10px;
  right: 10px;
  bottom: 7px;
  pointer-events: none;
}

.des-tip{
	font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif;
    width:100%;
	height:100%;
    text-align: center;
	padding:3%;
	background-color:#8b6f4e;
	color:#fff;
	position: relative;
    bottom:0;
	font-size:20px;
}
.space-topp{margin-top:50px;}
.space-bottom{margin-bottom:30px;}
.mark-img{width:15px;height:15px;}

ul.green-tick,ul.red-cross{
  list-style-type: none;
  margin: 0;
}

ul.green-tick li {
  background: url(https://cdn.msisurfaces.com/images/ideal-flooring-quiz/checkmark.svg) no-repeat left top;
	background-size: 20px 17px;
    padding-left: 28px;
    margin-bottom: 5px;
	font-weight:bold;	
}

ul.red-cross li {
  background: url(https://cdn.msisurfaces.com/images/ideal-flooring-quiz/xmark.svg) no-repeat left top;
	background-size: 20px 17px;
    padding-left: 28px;
    margin-bottom: 5px;	
}

.bf-left {
    display: table-cell;
    width: 10%;
}
.bf-right {
    display: table-cell;
    width: 90%;
}

.gr-left{
    display: table-cell;
    width: 50%;
}
.gr-right{
    display: table-cell;
    width: 50%;
}
.gr-right-2{
    display: table-cell;
    width: 25%;
}
.mar-h6{top: -3px;
    position: relative;
    left: 7px;
    text-align: left!important;
}
.sh{display:none;}
.mar-lft{margin-left: -15px;}
.lft-mov{margin-left: -57px;}
.ideal-hid{display:block;}
.ideal-vis{display:none;}
@media only screen and (max-width:1799px){
.middle{margin-left:101px;}
.sh{display:block;}
.hs{display:none;}
}
@media only screen and (max-width:1807px){
	#thumbCarousel img {
    width: 200px;
    height: 130px;
}
}

@media only screen and (max-width:1652px){
	#thumbCarousel img {
    width: 180px;
    height: 120px;
}
.text {
    left: 145px;
}
}
@media only screen and (max-width:1562px){

}

@media only screen and (max-width:1496px){
.middle{margin-left:81px;font-size:12px;}	
	#thumbCarousel img {
	width: 160px;
    height: 110px;
}
.text { 
    left: 140px;
    bottom: 40px;
}

}
@media only screen and (max-width:1327px){
.jumbotron h2 {width:110%;}
}
@media only screen and (max-width:1341px){
.middle{margin-left:74px;}	
	#thumbCarousel img {
    width: 145px;
    height: 105px;
}
.text {
    left: 130px;
    bottom: 35px;
}
.ideal-hid{display:none;}
.ideal-vis{display:inline-block;}
.gr-right{width:30%;}
}

@media only screen and (max-width:1224px){
.middle{margin-left: 66px;font-size:10px;}
.des-tip {font-size:14px;}	
	#thumbCarousel img {
	width: 130px;
    height: 100px;
}
.text {
    left: 120px;
    bottom: 35px;
	font-size:14px;
}


}

@media only screen and (max-width:1107px){
	.middle {margin-left: 61px;}	
	.item p {
    font-size:18px;
    line-height: 24px;
}
	#thumbCarousel img {
    width: 120px;
    height: 90px;
}
.text {
    left: 114px;
    bottom: 30px;
	font-size:14px;
}

.jumbotron h2 {width:116%;}

}


@media only screen and (max-width:1050px){
.jumbotron h2 {width:125%;}
}

@media only screen and (max-width:1029px){
.middle {font-size:10px;}	
	#thumbCarousel img {
    width: 110px;
    height: 80px;
}
.text {
    left: 101px;
    bottom: 24px;
	font-size:12px;
}

}
@media only screen and (max-width:1018px){
.item h2 {
    font-size:;
}
}
@media only screen and (max-width:991px){
.carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
}
.glyphicon-menu-left, .glyphicon-menu-right{
	top:0;
	margin-top:300%;
	background-color:#000;
}
.jumbotron h1{margin-top:20px;}
.carousel-indicators {
	margin-top: 104%;
    top: 50px;}
.jumbotron h2 {width: 100%;}
.right{width: 15%;}
.item p {
  font-size:18px;
  line-height:36px;
}
.ideal-hid,.ideal-vis{display:none;}
}
@media only screen and (max-width:990px){
ul.green-tick li,ul.red-cross li{text-align: left;}
.mar-h6 {
	font-size:20px;
    width: 200%;
	font-weight:bold;
}
.mark-img{width:20px;height:20px;}
.mar-p{margin: 0 0 20px;}
.jumbotron{margin-bottom:0px;}

}

@media only screen and (max-width:920px) {
.mars{position:relative;
   margin-top: -50%;}

}

@media only screen and (max-width:768px) {

}

@media only screen and (max-width:750px) {
.mars{position:relative;margin-top: -56%;}
.carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
	}
}


@media only screen and (max-width:720px) {
.mars{
	position:relative;
	margin-top: -56%;}
.carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
	}
}

@media only screen and (max-width:703px) {
.mars{       position:relative;
   margin-top: -58%;}
   .carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
	}
}

@media only screen and (max-width:768px) {
.mars{       position:relative;
   margin-top: -54%;}
    .carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
	}
}

@media only screen and (max-width:640px) {
	.mars{
		position:relative;
		margin-top: -57.8%;
	}
   .carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
	}
}

@media only screen and (max-width:480px) {
.mars{       position:relative;
   margin-top: -65.5%;}
   .carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
}
.item h3{font-size:16px;}
.jumbotron h2 {
    font-size:18px;
}
	.item p {
    line-height:32px;
}
}


@media only screen and (max-width:414px) {
.mars{       position:relative;
   margin-top: -71.5%;}
.carousel-control span.glyphicon {
    color: #fff;
	font-size:10vw;
}
.jumbotron h2 {
    font-size:16px;
}
}


@media only screen and (max-device-width:320px) {
.mars{
	position:relative;
	margin-top: -83%;
	}
.carousel-control span.glyphicon {
	color: #fff;
	font-size:10vw;
	}
}


