html {
  height: 100%;
}

body {
		font: 400 15px/1.8 Lato, sans-serif;
		color: #777;
	  	margin: 0;
		padding: 0;
		height: 100%;
  }
  .line{
    margin: 10px 0 30px 0;
      font-size: 20px;
      color: white;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
.container {
      padding: 80px 100px;
  }
  

  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #8e44ad;
  }


  
  
  .logo {
    position: fixed;
    top: 30px;
    left:70px;
    font-size: 30px;
	font-weight:bold;
	z-index:21;
	font-family: Montserrat, sans-serif;
	color: #8e44ad !important;
}

  .parent2 a, .navbar .navbar-brand {
      color: #fff !important;
	  
  }
  .parent2 a:hover {
      color: #f39c12 !important;
  }
  .parent2.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
 
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  .form-control {
      border-radius: 0;
  }
.card{
background-color: #2d2d30;
color: white;
    text-align: center;
padding-top:50px;
padding-bottom:50px;
margin-top:25px;

}
.card:hover{
 -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.card1{
background-color: white;
color: #2d2d30;
    text-align: center;
padding-top:20px;
padding-bottom:20px;
margin-top:25px;

}
.social li {
 background: none repeat scroll 0 0 #B5B5B5;
 border: 2px solid #B5B5B5;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -o-border-radius: 50%;
 -ms-border-radius: 50%;
 border-radius: 50%;
 float: right;
 height: 36px;
 line-height: 36px;
 margin: -15px 8px 0 0;
 padding: 0;
 text-align: center;
 width: 36px;
 transition: all 0.5s ease 0s;
 -moz-transition: all 0.5s ease 0s;
 -webkit-transition: all 0.5s ease 0s;
 -ms-transition: all 0.5s ease 0s;
 -o-transition: all 0.5s ease 0s;
}
.social li:hover {
 transform: scale(1.15) rotate(360deg);
 -webkit-transform: scale(1.1) rotate(360deg);
 -moz-transform: scale(1.1) rotate(360deg);
 -ms-transform: scale(1.1) rotate(360deg);
 -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
 color: #EDEFF1;
}
.social li:hover {
 border: 2px solid #2c3e50;
 background: #2c3e50;
}
.social li a i {
 font-size: 16px;
 margin: 0 0 0 5px;
 color: #EDEFF1 !important;
}
.footer ul {
 font-size: 13px;
 list-style-type: none;
 margin-left: 0;
 padding-left: 0;
 margin-top: 15px;
 color: #7F8C8D;
}
.footer ul li a {
 padding: 0 0 5px 0;
 display: block;
}
.footer a {
 color: #78828D
}
  textarea {
      resize: none;
  }
  
  
  
  .demo{ background: #2d2d30; }
.testimonial .pic{
    width: 22%;
    padding: 20px 0;
    margin: 0 6% 0 2%;
    float: left;
    position: relative;
    z-index: 1;
}
.testimonial .pic:before,
.testimonial .pic:after{
    content: "";
    width: 130px;
    height: 150px;
    background: #8e44ad;
    position: absolute;
    z-index: -1;
}
.testimonial .pic:before{
    top: 0;
    right: -20px;
}
.testimonial .pic:after{
    bottom: 0;
    left: -20px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border: 4px solid #e67e22;
}
.testimonial .testimonial-content{
    width: 70%;
    float: right;
}
.testimonial .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    padding-top: 65px;
    padding-left: 15px;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 25px;
    padding-left: 15px;
}
.testimonial .description{
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
    margin: 0;
    position: relative;
}
.testimonial .description:before,
.testimonial .description:after{
    font-family: 'FontAwesome';
    font-size: 17px;
    color: #e67e22;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    margin-right: 5px;
    top: 0;
    left: 0;
}
.testimonial .description:after{
    content: "\f10e";
    margin-left: 5px;
    position: relative;
    bottom: 0;
    right: 0;
}
.owl-theme .owl-controls{

    margin: 0;
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
}
.owl-theme .owl-controls .owl-buttons div{

    line-height: 90px;
    border-radius: 0;
    opacity: 1;
    position: relative;
	top:100px;
}
.owl-prev:before,
.owl-next:before{
    font-size: 45px;
    font-weight: 900;
    color: #ddd;
    position: absolute;
    top: 0;
    left: 25%;
}

.owl-next:after{
    color: #ddd;
    position: absolute;
    top: 0;
    left: -10px;
}



marquee{
color:red;
}

marquee a{color:red;}
marquee a:hover{color:green;}

div.gall{
position:relative;
display:inline-block;
}
.gall img{
padding:20px;
 width:220px;
 height:100px;
}

.gall p{text-align:center;}

#canvas{
		width:100%;
		height:10%;
		position:fixed!important;
		background:#fff;
}

/** global **/
.cube-wrap {
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	transform: scale(0.8);
	-ms-transform: scale(0.8);
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-o-transform: scale(0.8); 
}
.cube {
	position: relative;
	margin: 0 auto;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	-ms-transition: -ms-transform 1s;
}
.cube div {
	position: absolute;
	text-align: center;
	overflow: hidden;
}
.cube img {
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.cube a {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
/** animations **/
.slideLeft {
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: linear;	
	-webkit-animation-timing-function: linear;		
	visibility: visible !important;	
}
@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}
.slideRight {
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: linear;	
	-webkit-animation-timing-function: linear;		
	visibility: visible !important;	
}
@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}
@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}
.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	
	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
	visibility: visible !important;	
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}
.slideDown {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	visibility: visible !important;						
}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}
@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
.slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	visibility: visible !important;			
}
@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}
@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}



.example4 .cube {
	height: 284px;
	width: 100%
}
.example4 .cube div {
	height: 284px;
	width: 100%
}
.example4 .cube-right,
.example4  .cube-left {
	width: 284px !important;
}

.example4 .cube.step1 {
	transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}
.example4 .cube.step2 {
	transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
}
.example4 .cube.step3 {
	transform: rotateX(180deg) rotateY(0deg);
	-moz-transform: rotateX(180deg) rotateY(0deg);
	-webkit-transform: rotateX(180deg) rotateY(0deg);
	-ms-transform: rotateX(180deg) rotateY(0deg);
	-o-transform: rotateX(180deg) rotateY(0deg);
}
.example4 .cube.step4 {
	transform: rotateX(270deg) rotateY(0deg);
	-moz-transform: rotateX(270deg) rotateY(0deg);
	-webkit-transform: rotateX(270deg) rotateY(0deg);
	-ms-transform: rotateX(270deg) rotateY(0deg);
	-o-transform: rotateX(270deg) rotateY(0deg);
}
.example4 .cube.step1 {
	transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}
.example4 .cube.step2 {
	transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
}
.example4 .cube.step3 {
	transform: rotateX(180deg) rotateY(0deg);
	-moz-transform: rotateX(180deg) rotateY(0deg);
	-webkit-transform: rotateX(180deg) rotateY(0deg);
	-ms-transform: rotateX(180deg) rotateY(0deg);
	-o-transform: rotateX(180deg) rotateY(0deg);
}
.example4 .cube.step4 {
	transform: rotateX(270deg) rotateY(0deg);
	-moz-transform: rotateX(270deg) rotateY(0deg);
	-webkit-transform: rotateX(270deg) rotateY(0deg);
	-ms-transform: rotateX(270deg) rotateY(0deg);
	-o-transform: rotateX(270deg) rotateY(0deg);
}
.example4 .cube-front {
	transform: rotateY(0deg) translateZ(142px);
	-moz-transform: rotateY(0deg) translateZ(142px);
	-webkit-transform: rotateY(0deg) translateZ(142px);
	-o-transform: rotateY(0deg) translateZ(142px);
	-ms-transform: rotateY(0deg) translateZ(142px);
	background-image: url("../images/bg.jpg");
}
.example4 .cube-back {
	transform: rotateX(-180deg) translateZ(142px);
	-moz-transform: rotateX(-180deg) translateZ(142px);
	-webkit-transform: rotateX(-180deg) translateZ(142px);
	-o-transform: rotateX(-180deg) translateZ(142px);
	-ms-transform: rotateX(-180deg) translateZ(142px);
	background-image: url("../images/bg2.jpg");
}
.example4 .cube-right {
	transform: rotateY(90deg) translateZ(142px);
	-moz-transform: rotateY(90deg) translateZ(142px);
	-webkit-transform: rotateY(90deg) translateZ(142px);
	-o-transform: rotateY(90deg) translateZ(142px);
	-ms-transform: rotateY(90deg) translateZ(142px);
	background-image: url("../images/bg3.jpg");
	right: 0;
}
.example4  .cube-left {
	transform: rotateY(-90deg) translateZ(142px);
	-moz-transform: rotateY(-90deg) translateZ(142px);
	-webkit-transform: rotateY(-90deg) translateZ(142px);
	-o-transform: rotateY(-90deg) translateZ(142px);
	-ms-transform: rotateY(-90deg) translateZ(142px);
		background-image: url("../images/bg4.jpg");
}
.example4 .cube-top {
	transform: rotateX(90deg) translateZ(142px);
	-moz-transform: rotateX(90deg) translateZ(142px);
	-webkit-transform: rotateX(90deg) translateZ(142px);
	-o-transform: rotateX(90deg) translateZ(142px);
	-ms-transform: rotateX(90deg) translateZ(142px);
	background-image: url("../images/bg5.jpg");
}
.example4 .cube-bottom {
	transform: rotateX(-90deg) translateZ(142px);
	-moz-transform: rotateX(-90deg) translateZ(142px);
	-webkit-transform: rotateX(-90deg) translateZ(142px);
	-o-transform: rotateX(-90deg) translateZ(142px);
	-ms-transform: rotateX(-90deg) translateZ(142px);
	background-image: url("../images/bg6.png");
}


.example4 .cube .step1-img1 {
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right:0;
}

.example4 .cube .step1-img2 {
	margin-top:30px;
	margin-bottom: 0px;
	margin-left:0;
}

.example4 .cube .step1-img3 {
	margin-top:50px;
	margin-bottom: 0px;
}




.example4 .cube .step2-img1 {
	position: absolute;
	top: 53px;
	left: 335px;
}
.example4 .cube .step2-img2 {
	position: absolute;
	top: 146px;
	left: 288px;
}


.example4 .cube .step3-img1 {
	margin-top: 64px;
	margin-bottom: 13px;
}
.example4 .cube .step3-img2 {
	position: absolute;
	right: 230px;
	bottom: 30px;
}
.example4 .cube .step4-img1 {
	position: absolute;
	left: 233px;
	top: 54px;
}
.example4 .cube .step4-img2 {
	position: absolute;
	left: 354px;
	top: 108px;
}
.example4 .cube .step4-img3 {
	position: absolute;
	left: 216px;
	top: 132px;
}
.example4 .cube .step4-img4 {
	position: absolute;
	left: 297px;
	bottom: 54px;
}

.parent2 {
  top:15px;
  right:15px;
  position:fixed;
 display:block;
  width:100px;
  height:100px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.test1 {
  width:60%;
  height:60%;
  background-color:#9b59b6;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  right:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position:absolute;
}
.test2 {
  width:60%;
  height:60%;
  background-color:#9b59b6;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  right:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:60%;
  height:60%;
  background-color:#9b59b6;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  right:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .test4 {
  width:60%;
  height:60%;
  background-color:#9b59b6;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  right:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}
.mask2 {
  top:15px;
  right:15px;
  width:100px;
  height:100px;
  background:#9b59b6;
  border-radius:50%;
  position:absolute;
  z-index:10000;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}

@media only screen and (max-width: 990px){

    .testimonial{ text-align: center; }
    .testimonial .pic{
        width: 200px;
        margin: 0 auto;
        float: none;
    }
    .testimonial .pic:before,
    .testimonial .pic:after{
        width: 80px;
        height: 100px;
    }
    .testimonial .testimonial-content{
        width: 100%;
        float: none;
    }
    .testimonial .title{
        padding: 15px 0 0 0;
    }
    .testimonial .post{
        padding: 0;
        margin-bottom: 10px;
    }
    .owl-theme .owl-controls{
        width: 100%;
        position: static;
        text-align: center;
    }
    .owl-theme .owl-controls .owl-buttons div{
        height: 50px;
        line-height: 50px;
    }
}
