body {
 background-image: url('../image/MainBack.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
	font-family: 'Open Sans', sans-serif;
}

#bod{
	margin:auto 20px 20px 20px;
	
}

.col{
background-color:white;
}

.header {
    width: 100%;
    height: 7.5em;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
	
}

.horLine{
    height: 10px;
    border: 0;
	background-color:#fa2659;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


#top {
    position: relative;
	margin-top:100px;
    top:10px;
    width: 100%;
    height: 50px;
	font-size:300%;
	color:#fa2659;
	text-align:center;
}


#nav{
font-size:130%;
position:absolute;
top:20px;
left:440px;

}

#nav_wrapper{
width:960px;
margin: 0 auto;
text-align:left;
}

ul{
margin:0px;
padding:0px;

}
ul li a{
text-decoration:none;
color:white;
display:block;
list-style:none;
background-color: #f92558;
border:1px solid white;

}

ul li{
float:left;
width: 200px;
height:40px;
font-size:16px;
line-height:40px;
text-align:center;
list-style:none;

}

ul li ul li{
	text-align:left;
	display:none;
	text-indent:10px;
}

ul li a:hover{
	color:#767676;
	display: inline-block;
    border-bottom: 0px solid transparent;  
    width: 210px;
    transition: 0.2s ease;
}

ul li:hover ul li{
display:block;
}


#owl-demo .item{
  margin-left: 60px;
  display: block;
}

.bigbox{
  width:auto;
  float:left;
  margin-top:200px;
  margin-left:40px;
}

.boxx{
  background: #727272;
  width:690px;
  height:200px;
  padding:50px;
  border-radius:40px;
  margin: 100px 15px 0 10px;
  
}


.primary{
	position:relative;
	top:-200px;
	left:510px;
	color:#9a9a9a;
	font-size:140%;
	padding:10px;
}

 .circle1 {
        Width: 530px;
        height: 250px;
        border: 2px solid #f92558;
        border-radius: 100px;
		margin-top:-30px;
		margin-left:-30px;
        background-image: url('../image/MainWall.jpg');
        background-size: 100%;   
        background-repeat: no-repeat;
        background-position:center;
		
    }
	
	 .circle2 {
            Width: 530px;
        height: 250px;
        border: 2px solid #f92558;
        border-radius: 100px;
		margin-top:-30px;
		margin-left:-30px;
        background-image: url('../image/interior.jpg');
        background-size: 100%;   
        background-repeat: no-repeat;
        background-position:center;
    }
	
	 .circle3 {
	   Width: 530px;
        height: 250px;
        border: 2px solid #f92558;
        border-radius: 100px;
		margin-top:-30px;
		margin-left:-30px;
        background-image: url('../image/polising.jpg');
        background-size: 100%;   
        background-repeat: no-repeat;
        background-position:center;
    }
	
	 .circle4 {
	   Width: 530px;
        height: 250px;
        border: 2px solid #f92558;
        border-radius: 100px;
		margin-top:-30px;
		margin-left:-30px;
        background-image: url('../image/dent.jpg');
        background-size: 100%;   
        background-repeat: no-repeat;
        background-position:center;
    }

#footer {
    position: relative;
	bottom:-200px;
    width: 100%;
    height: 50px;
	font-size:15px;
	color:#f92558;
	text-align:center;
	
}
a{
	text-decoration:none;
}
.horLine2{
    height: 10px;
    border: 0;
	width:100%;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.copyRight{
	position:relative;
	  bottom: 0;
    width: 100%;
    height: 30px;
	font-size:12px;
	color:#f92558;
	text-align:center;
}


h2.exp{
	background:#f92558;
	color:white;
	padding:20px;
	text-align:center;
	margin-top:-2px;
	padding:15;
	border-top-right-radius: 10px;
	border-top-left-radius:10px;
}

div.contentbox {
	background: #727272;
	height: 500px;
	width:60%;
	margin-left:400px;
	margin-top: 200px;
	font-size: 16px;
	border: 2px solid #f92558;
	text-align:center;
	border-radius:10px;
	color:white;
}