.nav-item>a{color:#333;}

.carousel-caption{text-align:left;left:50px;}
.y-box{width:30%;border-top:10px solid #fecc00;opacity:0.6;    z-index: -1;}
.y-box>h3{color:#fff;background:#fecc00; text-align:center;padding:10px;}
.jumbotron{text-align:center;}
.jumbotron p{padding-left: 20%;
    padding-right: 20%;
}
.jumbotron h1,.jumbotron h4{
	font-family: 'Open Sans Condensed', sans-serif;
}


/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration:1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInLeft{
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200px,100px, 0);
    transform: translate3d(-200px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

footer{
position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;}
.row-eq-height{padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex-box;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
	}
.bg{background-color:#e9ecef;}
.fa-spin-hover:hover {
   -webkit-animation: spin 2s;
   -moz-animation: spin 2s;
   -o-animation: spin 2s;
   animation: spin 2s;
   cursor:pointer;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.brandLogo{
    opacity: 1.0;
    padding: 10px;
    width: 100%;
    height: 120px;
    width: 100%;
    min-height: 100%;
	box-shadow: 3px 3px 3px 3px #e9ecef;
}
.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 2px solid #2f2f2f !important;
    border-radius: 0;
    padding: 1em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    width: 200px;
	color:#000;
	font-weight:bold;
}
a{text-decoration:none!important;}
.button:hover{
	color:#fff;
	background:#000;
}
.lr{margin-left:5%;margin-right:5%;}
@media (max-width: 1599px) {
	.y-box{width:50%;}
}
@media (max-width:990px) {
	.carousel-caption{text-align:center;}
	.y-box{width:100%;border-top:0px solid #fecc00;}
	.jumbotron p{padding-left:0;padding-right: 0;}
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {
	
}