input.myInput[type=text]{padding-left:40px;}
.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 35px !important;
}

.right-inner-addon img{
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    pointer-events: none;
}

.left-and-right-inner-addon {
    position: relative;
    width:600px;
    text-align: center;
    margin: 15px 0;
}

.left-and-right-inner-addon i.left {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
    left:0;
}

.left-and-right-inner-addon i.right {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    pointer-events: none;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .col-lg-6.text-center-xs,.col-xl-4.text-center-xs{text-align:left;}
  .table td, .table th{
      border-top:1px solid transparent!important;
      padding:10px!important;
  }
  .main-table.thead th {
    border-left: 1px solid #555555 !important;
    border-right: 1px solid #555555 !important;
}
.sub-main-table.thead th {
    border-left: 1px solid #8b6f4e !important;
    border-right: 1px solid #8b6f4e !important;
    border-top: 1px solid #8b6f4e !important;
    border-bottom: 1px solid #8b6f4e !important;
}
.main-table{display:none;border:1px solid #dedede;}
.main-table td{ border-bottom:1px solid #dedede;}
.nav-link {padding:5px!important;}
.nav-justified .nav-item {
    background-color: #555;
}
.marg-auto{margin-left: 1rem!important;}




/*Media Query*/
@media only screen and (max-width : 1990px){
}
@media only screen and (max-width : 1919px){
}
@media only screen and (max-width : 1759px){
}
@media only screen and (max-width : 1599px){
}
@media only screen and (max-width : 1420px) {
}
@media only screen and (max-width:1320px) {
}
@media only screen and (max-width:1260px) {
}
@media only screen and (max-width:1199px) {
}
@media only screen and (max-width:1080px) {
}
@media only screen and (max-width:1024px) {
}
@media only screen and (max-width:991px) {
    .left-and-right-inner-addon{width:600px;}
    .left-and-right-inner-addon i.right {right:40px;}
    input.myInput[type=text]{padding-left:0px;text-align:center;}
    .col-12.text-center-xs{text-align:center;}
    .centered {position: static;transform: none;}
    .h2-hide{display:none;}
    .marg-auto{margin-left: auto!important;margin-right: auto!important;}
}
@media only screen and (max-width:920px) {
}
@media only screen and (max-width:768px) {
}
@media only screen and (max-width:750px) {
}
@media only screen and (max-width:720px) {
}
@media only screen and (max-width:703px) {
}
@media only screen and (max-width:680px) {
}
@media only screen and (max-width:640px) {
}
@media only screen and (max-width:600px) {
    .left-and-right-inner-addon {width:100%;}
}
@media only screen and (max-width:480px) {
    .td-hide{display:none;}
}
@media only screen and (max-width:414px) {
    .navbar-brand-special{font-size:1.2em;}
}
@media only screen and (max-width:412px) {
    .btn-primary.width-150{float:right;}
    .btn-secondary.width-150{float:left;}
}
@media only screen and (max-width:375px) {
    
}
@media only screen and (max-width:360px) {
    .width-150{width:140px!important;}
    
}
@media only screen and (max-width:320px) {
}