body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100
}

#data {
    visibility: hidden
}

.thumbnail {
    position: absolute;
    border: none;
    top: 100px
}

.visible-xs img {
    margin-top: 20%
}

#bg {
    position: fixed;
    top: 0;
    left: 0
}

.bgwidth {
    width: 80%
}

.bgheight {
    height: 100%
}

.grad-md {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    opacity: initial;
    display: block;
    cursor: inherit;
    border-width: 0;
    background-color: none;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255)0%);
    box-shadow: none;
    z-index: 5
}

.grad-xs {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 35%;
    opacity: 1;
    display: block;
    cursor: inherit;
    border-width: 2px;
    border-color: rgb(254, 253, 253);
    border-style: solid;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    z-index: 999
}

.caption-md {
    position: absolute;
    top: 10%;
    float: right;
    right: 15%;
    width: 70%;
    z-index: 5
}

.caption-xs {
    position: absolute;
    float: right;
    right: 41%;
    width: 25%;
    z-index: 5
}

.pulse-button {
    position: absolute;
    display: block;
    width: 500px;
    height: 110px;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    line-height: 110px;
    color: white;
    border-style: double;
    background: #8b6f4c;
    cursor: pointer;
    -webkit-animation: pulse 2.5s infinite;
    -moz-animation: pulse 2.5s infinite;
    -o-animation: pulse 2.5s infinite;
    -ms-animation: pulse 2.5s infinite;
    animation: pulse 2.5s infinite
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
}

@-o-keyframes pulse {
    0% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
}

@-ms-keyframes pulse {
    0% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
}

@keyframes pulse {
    0% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }
}

@-webkit-keyframes rightFadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes rightFadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes leftFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes leftFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

p {
    margin: 0 0 0
}

.space-top {
    margin-top: 40px
}

.space-top-minus-1 {
    margin-top: -20px
}

.space-top-minus-2 {
    margin-top: -12px
}

.first-textS {
    position: absolute;
    opacity: 1;
    font-weight: 900;
    animation-name: leftFadeIn;
    animation-duration: 5s;
    font-family: 'Roboto', sans-serif;
    font-weight: 300
}

.first-text {
    position: absolute;
    opacity: 1;
    animation-name: rightFadeIn;
    animation-duration: 5s
}

.first-text h1 {
    font-weight: 700
}

.second-text {
    position: absolute;
    top: 30rem;
    opacity: 0;
    left:-10px
}

.second-textS {
    position: absolute;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300
}

.third-text {
    position: absolute;
    top: 70rem;
    left: 2%;
    opacity: 0
}

.bld {
    font-weight: 900
}

@keyframes fade-in-item {
    0% {
        display: block;
        opacity: 0
    }
    100% {
        display: block;
        opacity: 1
    }
}

@-webkit-keyframes fade-in-item {
    0% {
        display: block;
        opacity: 0
    }
    100% {
        display: block;
        opacity: 1
    }
}

.item.i01 {
    animation: fade-in-item 3s 3s ease-out forwards
}

.item.i02 {
    animation: fade-in-item 3.5s 4.5s ease-out forwards
}

.second-text p {
    font-family: 'Open Sans', sans-serif
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#loading-mask {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
}

@media only screen and (min-width:1991px) {
    .space-top-minus-1 {
        margin-top: 10px
    }
    .second-text {
        opacity: 0;
        left: 0px
    }
    .third-text {
    left: 10%;
    opacity: 0;
    top: 80rem;
    }
}

@media only screen and (max-width:1680px) {
    .second-text {
        top: 30rem;
        left: 0px
    }
    .third-text {
    top: 55rem;
    left: -8%;
    }
}

@media only screen and (max-width:1600px) {
    .third-text {
        left: -5%
    }
}

@media only screen and (max-width:1440px) {
    .pulse-button {
        width: 300px;
        height: 80px;
        font-size: 2.5em;
        line-height: 77px
    }
    .second-text {
		top: 25rem;
		left: -15px;
    }
    .third-text {
		left: 8%;
		top: 55rem;
    }
    .space-top-minus-1 {
        margin-top: -40px
    }
}

@media only screen and (max-width:1420px) {
    .space-top-minus-1 {
        margin-top: -20px
    }
    .pulse-button {
        width: 300px;
        height: 80px;
        font-size: 2.5em;
        line-height: 77px
    }
    .second-text {
        top: 23rem;
        left: -2em
    }
    .third-text {
		left: 11%;
		top: 51rem;
    }
}

@media only screen and (max-width:1400px) {
    .third-text {
        left: 11%
    }
}

@media only screen and (max-width:1366px) {
    .third-text {
        left: 8%
    }
}

@media only screen and (max-width:1280px) {
    .grad-md {
        height: 100%;
        top: 0%
    }
    .third-text {
        left: 8%
    }
}

@media only screen and (max-width:1080px) {
    .grad-md {
        top: 6%
    }
    .space-top-minus {
        margin-top: 0
    }
    .pulse-button {
        width: 300px;
        height: 80px;
        font-size: 2.5em;
        text-align: center;
        line-height: 77px
    }
    .second-text {
        top: 20rem;
		left: -10px;
    }
    .third-text {
        left: -2%;
		top: 43rem;
    }
}

@media only screen and (max-width:1024px) {
    .col-md-12 img {
        width: 745px;
        height: 513px
    }
    .grad-md {
    height:75%;
    top: 6%;
    }
    .third-text {
        left: -6%;
		top: 39rem;
    }
}

@media only screen and (max-width:920px) {
    .caption-xs img {
        width: 150px;
        height: 90px
    }
    .pulse-button {
        width: 200px;
        height: 50px;
        font-size: 2em;
        text-align: center;
        line-height: 40px
    }
    .second-text {
		top: 17rem;
		left: -15px;
    }
    .third-text {
       left: 8%;
		top: 35rem;
    }
}

@media only screen and (max-device-width:800px) {
    .col-md-12 img {
        width: 582px;
        height: 400px
    }
    .grad-md {
        height: 35%;
		top: 6%;
    }
    .second-text {
        top: 15rem;
        left: -10%
    }
    .third-text {
        left: 4%;
		top: 30rem;
    }
}

@media only screen and (max-width:768px) {
    .col-md-12 img {
        width: 582px;
        height: 400px
    }
    .caption-xs img {
        width: 150px;
        height: 90px
    }
    .grad-md {
        height: 60%;
        top: 7%
    }
    .pulse-button {
        width: 240px;
        height: 60px;
        font-size: 2em;
        text-align: center;
        line-height: 55px
    }
    .second-text {
        top: 18rem;
        font-size: 3em
    }
    .second-text p {
        font-size: 20px
    }
    .third-text {
        left: 0%;
        top: 30rem
    }
}

@media only screen and (max-device-width:768px) {
    .col-md-12 img {
        width: 582px;
        height: 400px
    }
    .caption-xs img {
        width: 150px;
        height: 90px
    }
    .grad-md {
        height: 55%;
    }
    .pulse-button {
        width: 240px;
        height: 60px;
        font-size: 2em;
        text-align: center;
        line-height: 55px
    }
    .second-text {
       top: 14rem;
	font-size: 3em;
    left: -8%;
    }
    .second-text p {
        font-size: 20px
    }
    .third-text {
        left:-6%;
        top: 30rem
    }
}

@media only screen and (max-width:750px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 600px
    }
    .caption-xs img {
        width: 150px;
        height: 90px
    }
    .pulse-button {
        width: 240px;
        height: 70px;
        font-size: 2.5em;
        text-align: center;
        line-height: 60px
    }
    .first-textS {
        top: 110%;
        left: -36%;
        width: 289px
    }
    .first-text {
        top: 150%;
    right: -56%;
    width: 200%;
    }
    .first-text h1 {
        padding-top: 5%
    }
    .second-textS {
        margin-left: -140px;
        width: 500px;
        top: 222%;
    }
    .third-text {
        left: -8%;
        top: 400%;
    }
}

@media only screen and (max-device-width:720px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 600px;
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
    }
    .pulse-button {
        width: 240px;
        height: 70px;
        font-size: 2.5em;
        text-align: center;
        line-height: 60px;
    }
    .first-textS {
        top: 110%;
        left: -36%;
        width: 289px;
    }
    .first-text {
        top: 150%;
        right: -63%;
    }
    .first-text h1 {
        padding-top: 5%
    }
    .second-textS {
        margin-left: -140px;
        width: 500px;
        top: 235%;
    }
    .third-text {
        left: -10%;
        top: 420%
    }
}

@media only screen and (max-device-width:703px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 600px
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
        margin-top: 10%
    }
    .pulse-button {
        width: 240px;
        height: 70px;
        font-size: 2.5em;
        text-align: center;
        line-height: 60px
    }
    .first-textS {
        top: 110%;
        left: -36%;
        width: 281px
    }
    .first-text {
        right: -60%;
        width:220%
    }
    .first-text h1 {
        padding-top: 5%
    }
    .second-textS {
        margin-left: -140px;
        width: 500px;
        top: 250%;
    }
    .third-text {
        left: -15px;
        top: 450%
    }
}

@media only screen and (min-device-width:640px) {
    #kitchn {
        margin-top: 0
    }
}

@media only screen and (max-device-width:640px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 500px
    }
    .caption-xs img {
        width: 150px;
        height: 90px;
        margin-top: 10%
    }
    .pulse-button {
        width: 220px;
        height: 55px;
        font-size: 2em;
        text-align: center;
        line-height: 46px
    }
    .first-textS {
        top: 110%;
        left: -36%;
        width: 256px
    }
    .first-text {
        top: 150%;
        right: -61%
    }
    .first-text h1 {
        padding-top: 5%
    }
    .second-textS {
        margin-left: -140px;
        width: 450px;
        top: 235%;
    }
    .third-text {
        left: -20%;
        top: 410%
    }
}

@media only screen and (max-device-width:600px) {
    .visible-xs img {
        margin-top: 10%
    }
    .first-text {
        top: 150%;
        right: -67%
    }
    .third-text {
        left: -18%;
        top: 410%
    }
}

@media only screen and (max-device-width:480px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 410px
    }
    .caption-xs img {
        width: 100px;
        height: 60px
    }
    .pulse-button {
        width: 165px;
        height: 46px;
        font-size: 2em;
        text-align: center;
        line-height: 40px
    }
    .first-textS {
        top: 100%;
        left: -42%;
        width: 200px
    }
    .first-text {
        top: 150%;
        right: -60%
    }
    .first-text h1 {
        padding-top: 5%
    }
    .second-textS {
        margin-left: -60px;
        width: 260px;
        top: 230%;
    }
    .third-text {
        left: -15%;
        top: 450%
    }
}

@media only screen and (max-device-width:414px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 350px
    }
    .caption-xs img {
        width: 90px;
        height: 50px
    }
    .pulse-button {
        width: 150px;
        height: 40px;
        font-size: 1em;
        text-align: center;
        line-height: 35px
    }
    .first-textS {
        top: 100%;
        left: -46%;
        width: 166px
    }
    .first-text {
        top: 150%;
        right: -55%
    }
    .first-text h1 {
        padding-top: 5%
    }
    .second-textS {
        margin-left: -50px;
        width: 200px;
        top: 230%;
    }
    .third-text {
        left: -25%;
        top: 480%
    }
}

@media only screen and (max-device-width:412px) {
    .visible-xs img {
        margin-top: 10%
    }
    .third-text {
        left: -18%;
        top: 480%
    }
}

@media only screen and (max-device-width:384px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 300px
    }
    .caption-xs img {
        width: 80px;
        height: 45px
    }
    .pulse-button {
        width: 120px;
        height: 40px;
        font-size: 1em;
        text-align: center;
        line-height: 33px
    }
    .first-textS {
        top: 100%;
        left: -50%;
        width: 166px
    }
    .first-text {
        top: 140%;
        right: -65%
    }
    .second-textS {
        top: 210%;
    }
    .third-text {
        top: 470%;
        left: -5%
    }
}

@media only screen and (max-device-width:375px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 300px
    }
    .caption-xs img {
        width: 80px;
        height: 45px
    }
    .pulse-button {
        width: 120px;
        height: 40px;
        font-size: 1em;
        text-align: center;
        line-height: 33px
    }
    .first-textS {
        top: 100%;
        left: -50%;
        width: 166px
    }
    .first-text {
        top: 140%;
        right: -57%
    }
    .second-textS {
        top: 225%;
        margin-left: -66px;
        width: 290%
    }
    .third-text {
        top: 450%;
        left: -12%
    }
}

@media only screen and (max-device-width:360px) {
    .visible-xs img {
        margin-top: 10%
    }
    .first-text {
        right: -73%
    }
}

@media only screen and (max-device-width:320px) {
    .grad-xs {
        width: 85%;
        left: 7%;
        height: 300px
    }
    .caption-xs img {
        width: 80px;
        height: 45px
    }
    .pulse-button {
        width: 120px;
        height: 40px;
        font-size: 1em;
        text-align: center;
        line-height: 33px
    }
    .first-textS {
        top: 100%;
        left: -65%;
        width: 166px;
    }
    .first-text {
        top: 140%;
        right: -73%;
    }
    .second-textS {
        top: 210%;
        margin-left: -52px
    }
    .third-text {
        top: 410%;
        left: -15px
    }
    .space-top-minus-2 {
        margin-top: -8px
    }
}